{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% block content %}
	<div class="container">
		<div class="row">
			{%for i in Blog%}
			<div class="col-md-3">
				<div class="card" style="width: 18rem;">
					<img src="{{i.post_image.url}}" height="300px" width="220px" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">{{i.title}}</h5>
						<p class="card-text">{{i.description}}</p>
						<a href="{% url 'detail' i.id %}" class="btn btn-primary">View</a>
					</div>
				</div>
				
			</div>
			{%endfor%}
		</div>
	</div>
{% endblock content %}
